.App {
  margin: 0 auto;
  width: 750px;
}

.header-text {
  text-align: center;
  font-family: 'Courgette', cursive;
  color: #384F94
}

.quote-section {
  background-color: #E1E6F4;
  height: 300px;
  width: 460px;
  margin: 0 auto;
}

.quotes-header{
  padding: 25px;
  text-align: center;
  font-family: 'Courgette', cursive;
  color: #384F94
}

label {
  color: #578A42;
  font-family: 'Sarabun', medium;
  font-weight: bold;
  font-size: 16px;
}

.text {
  color: #384F94;
  text-align: center;
  font-size: 16px;
  padding: 5px;
}

button {
max-width: 150px;
margin: 32px 0;
padding: 12px 20px;
border-style: none;
border-radius: 5px;
background-color: #384F94;
font-family: 'Pacifico', cursive;
font-size: 17px;
font-weight: 500;
color: #fff;
cursor: pointer;
outline: none;
-webkit-appearance: none;
}

.user-form-container {
  width: 460px;
  margin: auto auto;
  margin-top: 25px;
  padding: 32px;
  background-color: #E3E9E1;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.input-fields {
  margin-bottom: 5px;
  padding: 0.5rem;
  font-size: 16px;
  font-family: sans-serif;
  width: 100%;
  /* display: block; */
  border-radius: 4px;
  border: 1px solid #ccc;
}